.mainContainer {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 6rem 0;
    user-select: none;

    .aboutUsTitle {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: auto;
        padding-bottom: 36px;
        margin-bottom: 36px;
        border-bottom: 2px solid var(--color6);

        .aTitle {
            font-size: 78px;
            font-weight: 700;
            margin-bottom: 10px;
            color: var(--color4);
            text-shadow: -4px 4px 0px var(--color9);
        }

        .aSubTitle {
            color: var(--color2);
            font-size: 24px;
            font-weight: 300;
        }
    }

    .contactSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .contactLinks {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 16px;
        margin: auto;
        text-align: center;

        h2 {
            color: var(--color1);
            font-weight: 600;
            font-size: 30px;
            margin-bottom: 2rem;
        }

        .cLink {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 36px;

            a {
                padding: 12px 0 8px;
                height: 120px;
                width: 105px;
                font-size: 20px;
                color: var(--color1);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                border-radius: 1rem;
                transition: all 0.2s;

                &:hover {
                    background: var(--color6);
                }

                .cIcon {
                    font-size: 56px;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .mainContainer {
        .aboutUsTitle {
            .aTitle {
                font-size: 60px;
            }

            .aSubTitle {
                font-size: 22px;
            }
        }
    }
}
