.adminHeader{
    color: var(--color1);
    font-variation-settings: "wght" 500;
    font-size: 32px;
    margin-bottom: 24px;
    text-align: center;
    line-height: 3.5rem;
    user-select: none;
}