.wrapper{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 1000px;
    margin: auto;
    min-height: 100vh;
    padding: 8rem 0;
    user-select: none;
}

.info{
    width: 100%;
    color: var(--color1);
}

.album{
    font-size: 2.8rem;
    font-weight: 800;
    color: var(--color1);
}

.artist{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color2);
}

.description{
    background: var(--color6);
    border-radius: 1rem;
    font-size: 1.2rem;
    color: var(--color2);
    margin: 2rem 0;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;

    span{
        display: flex;
        font-weight: 400;
        font-size: 1rem;
        padding-left: 10px;
        line-height: 1.8rem;
    }

    .statick{
        color: var(--color1);
        padding-left: 5px;
        font-weight: 500;
    }
}

.post{
    height: auto;
    width: 100%;
    padding: 1rem 1.5rem;
    background: var(--color6);
    border: 2px solid var(--color7);
    border-radius: 1rem;
    line-height: 2rem;
    text-align: justify;
    margin-bottom: 16px;

    .postParagraph{
        color: var(--color1);
        font-weight: 400;
        font-size: 1rem;
    }
}

.mycommentWrapper{
    width: 100%;
    display: flex;
    justify-content: start;
}

.commentWrapper{
    width: 100%;
    display: flex;
    justify-content: end;
}

.mycommentContainer{
    position: relative;
    padding-right: 2.3rem;
    min-width: 260px;
    margin: 18px 0;
    
    img{
        position: absolute;
        width: 2rem;
        bottom: -2px;
        right: -6px;
        border-radius: 50%;
    }
}

.mycommentSection{
    height: auto;
    width: 100%;
    padding: 14px 24px 20px;
    background: var(--color8);
    border: 2px solid var(--color8);
    border-radius: 2rem;
    position: relative;

    .mycommentUserName{
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2{
            font-weight: 300;
            color: #ddd;
            font-size: 16px;
            padding-bottom: 6px;
        }

        .trash{
            color: #b44a4a;
            background: #422727;
            border-radius: 50%;
            cursor: pointer;
            padding: 6px;
            position: absolute;
            top: 6px;
            left: 10px;
            font-size: 14px;

            &:hover{
                background: #b44a4a;
                color: var(--color1);
            }
        }
    }

    .mymoon{
        position: absolute;
        fill: var(--color8);
        bottom: -1rem;
        right: -1rem;
        font-size: 3rem;
        transform: rotate(-4deg);
    }

    .mycommentParagraph{
        text-align: justify;
        color: var(--color1);
        font-weight: 400;
        font-size: 16px;
    }
}

.commentContainer{
    position: relative;
    padding-left: 2.3rem;
    min-width: 260px;
    margin: 18px 0;
    
    img{
        position: absolute;
        bottom: -2px;
        left: -6px;
        border-radius: 50%;
    }
}

.commentSection{
    height: auto;
    width: 100%;
    padding: 14px 24px 20px;
    background: var(--color6);
    border-radius: 2rem;
    position: relative;

    h2{
        font-weight: 300;
        text-align: left;
        color: var(--color2);
        font-size: 16px;
        padding-bottom: 6px;
    }

    .moon{
        position: absolute;
        bottom: -1rem;
        left: -1rem;
        font-size: 3rem;
        transform: scaleX(-1) rotate(-4deg);
        color: var(--color6);
    }

    .commentParagraph{
        text-align: justify;
        color: var(--color1);
        font-weight: 500;
        font-size: 18px;
    }
}

.cBezarOut{
    background: var(--color6);
    padding: 32px 20px;
    color: var(--color1);
    border: 2px solid var(--color7);
    font-weight: 700;
    margin: 28px auto 0;
    font-size: 20px;
    border-radius: 1rem;
}

.commentInput{
    width: 100%;
    margin: 36px auto 0;

    .cBezar{
        color: var(--color1);
        font-weight: 700;
        font-size: 28px;
        margin-bottom: 24px;
    }

    label{
        color: var(--color2);
        font-size: 20px;
        font-weight: 300;
    }

    .input{
        background: var(--color6);
        width: 100%;
        margin: 6px 0 18px;
        height: 52px;
        border: 2px solid var(--color6);
        outline: none;
        border-radius: 14px;
        padding: 0.5rem;
        font-size: 20px;
        color: var(--color1);

        &:hover{
            border: 2px solid var(--color7);
        }

        &::placeholder{
            font-size: 22px;
        }
}

    .slugInput{
        direction: ltr;
    }

    .authorInput{
        direction: ltr;
        color: var(--color3);
    }

    .textInput{
            background: var(--color6);
            width: 100%;
            margin-top: 12px;
            min-height: 280px;
            max-height: 280px;
            height: 280px;
            border: 2px solid var(--color6);
            outline: none;
            border-radius: 14px;
            padding: 0.5rem;
            font-size: 20px;
            color: var(--color1);

            &:hover{
                border: 2px solid var(--color7);
            }

            &::placeholder{
                font-size: 22px;
            }
    }

    .fileInput{
        background: var(--color6);
        direction: ltr;
        width: 100%;
        margin-top: 12px;
        height: 64px;
        border: 2px solid var(--color6);
        outline: none;
        border-radius: 14px;
        padding: 0.5rem;
        font-size: 20px;
        color: var(--color2);
        cursor: pointer;

            &:hover{
                border: 2px solid var(--color7);
            }
    }
}

.submit{
    max-width: 520px;
    width: 100%;
    height: 58px;
    margin: 1rem auto;
    font-size: 20px;
    background: var(--color8);
    color: #fff;
    cursor: pointer;
    transition: all 0.2s;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 2px;
    justify-content: center;
    border-radius: 16px;

    .sendIcon{
        font-size: 28px;
    }

    &:hover{
        background: var(--color10);
    }
}
   
@media screen and (min-width: 781px) and (max-width: 1024px){
    .wrapper{
        padding: 6rem 36px;
        width: 100%;
    }
}
    
@media screen and (min-width: 641px) and (max-width: 780px){
    .wrapper{
        padding: 6rem 36px;
        width: 100%;
    }

    .artwork{
        width: 70%;
    }

    .info{
        width: 100%;
    }

    .album{
        font-size: 2.5rem;
    }

    .artist{
        font-size: 1.5rem;
    }
}
    
@media screen and (min-width: 481px) and (max-width: 640px){
    .wrapper{
        padding: 6rem 32px;
        width: 100%;
    }

    .description{
        margin: 1rem 0;
    }

    .artwork{
        width: 80%;
    }

    .info{
        width: 100%;
    }

    .album{
        font-size: 2.5rem;
    }

    .artist{
        font-size: 1.5rem;
    }
}
    
@media screen and (min-width: 120px) and (max-width: 480px){
    .wrapper{
        padding: 6rem 16px;
        width: 100%;
    }

    .description{
        margin: 1rem 0;
    }

    .artwork{
        width: 90%;
        margin-bottom: 1rem;
    }

    .info{
        width: 100%;
    }

    .post{
        padding: 1rem;
    }

    .album{
        font-size: 28px;
    }

    .artist{
        font-size: 1.2rem;
    }
}