.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background: var(--color9);
    backdrop-filter: saturate(180%) blur(6px);
    width: 100%;
    height: 4rem;
    padding: 0 4rem;
    z-index: 100;
    user-select: none;
    border-bottom: 1px solid var(--color7);
}

.leftSide{
    display: flex;
    align-items: center;
}
  
.logoTitle{
    width: 46px;
    height: 46px;
    margin-right: 4px;

    .rapWViseLogo img{
        width: 100%;
        height: 100%;
    }
}
  
.rightSide{
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.nav{
    padding: 0 2rem;
    
    .ul{
        list-style: none;
        display: flex;

  
        .li{
            margin: 15px;
            font-size: 1.05rem;
            position: relative;
  
            a{
                color: var(--color2);
                display: flex;
                align-items: center;
                gap: 8px;
                padding: 18px 0;

                hr{
                    position: absolute;
                    bottom: 0;
                    right: 50%;
                    width: 10%;
                    border: 1px solid var(--color6);
                }

                &:hover{
                    color: var(--color1);
                }
  
                &:hover hr{
                    width: 100%;
                    border: 1px solid var(--color1);
                    right: 0;
                }
                .icon{
                    font-size: 16px;
                }
            }
        }
    }
}

.rightSide .userAccount{
    display: flex;
    align-items: center;
    gap: 16px;

    .loginBtn{
        color: var(--color1);
        border: 2px solid var(--color7);
        padding: 10px 18px;
        border-radius: 1rem;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
    
        &:hover{
            background: var(--color7);
        }
    }

    .signupBtn{
        color: #fff;
        background: var(--color4);
        padding: 10px 1rem;
        border-radius: 1rem;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
    
        &:hover{
            background: var(--color11);
        }
    }

    .profileImage{
        border-radius: 50%;
    
        &:hover{
            opacity: 0.85;
        }
    }
    
    .profileBtn{
        color: var(--color2);
        background: var(--color6);
        border: 2px solid var(--color7);
        padding: 6px 4px 4px;
        border-radius: 50%;
        font-size: 44px;
    
        &:hover{
            color: var(--color1);
            background: var(--color7);
        }
    }

    .cartBtn{
        color: var(--color2);
        background: var(--color6);
        padding: 6px;
        border-radius: 10px;
        font-size: 40px;
    
        &:hover{
            color: var(--color1);
            background: var(--color7);
        }
    }
}

.menuList{
    display: none;
    flex-direction: column;
    position: fixed;
    width: 280px;
    height: 100vh;
    background: var(--color6);
    -webkit-font-smoothing: antialiased;
    transform: translate(100%, 0);
    z-index: 90;
  
    .menuItems{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 5%;
        padding-top: 90px;
        list-style: none;
        border-bottom: 2px solid var(--color7);
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
  
        a{
            width: 100%;
            margin: 5px auto;
            
            li{
                font-size: 1.2rem;
                border-radius: 1rem;
                font-weight: 400;
                color: var(--color2);
                transition: all 0.2s;
                padding: 15px 30px;
                display: flex;
                align-items: center;

                &:hover{
                    background: #99999922;
                    color: var(--color1);
                }
            }
        }
    }

    .menuUser{
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 16px;
        width: 100%;
        padding: 0 5%;
  
        .sup{
            font-size: 18px;
            font-weight: 700;
            width: 100%;
            height: 54px;
            padding: 0 30px;
            display: flex;
            flex-direction: row;
            gap: 6px;
            align-items: center;
            justify-content: start;
            border-radius: 1rem;
            color: var(--color1);
            background: var(--color4);
        }
    }
}

.menuListActive{
    transform: none;
}

.hamburgerMenu{
    display: none;
    width: 30px;
    height: 30px;
    margin-left: 1.2rem;
    cursor: pointer;
    user-select: none;
      
    span {
        display: block;
        border-radius: 0.7rem;
        width: 24px;
        height: 2px;
        background: var(--color2);
        margin: 6px auto;
        -webkit-transition: all 0.25s;
        transition: transform 0.25s;

        &:nth-child(1){
            transform: none;
        }
          
        &:nth-child(2){
            opacity: 1;
            transform: none;
        }
          
        &:nth-child(3){
            transform: none;
        }
    }
}

.hamburgerMenuActive{

    span{

        &:nth-child(1){
            transform: rotate(-46deg) translate(-5px, 5px);
        }
        
        &:nth-child(2){
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }
        
        &:nth-child(3){
            transform: rotate(46deg) translate(-6px, -5px);
        }
    }
}

.iosMenu{
    display: none;

    a{
        display: none;

        .iosIcon{
            display: none;
        }
    }
}

@media screen and (min-width: 1281px) and (max-width: 1600px) {
    .header{
        padding: 0 3rem;
    }

    .iosMenu{
        display: none;

        a{
            display: none;
    
            .iosIcon{
                display: none;
            }
        }
    }
}
    
@media screen and (min-width: 1025px) and (max-width: 1280px){
    .header{
        padding: 0 3rem;
    }

    .iosMenu{
        display: none;

        a{
            display: none;
    
            .iosIcon{
                display: none;
            }
        }
    }
}
    
@media screen and (min-width: 781px) and (max-width: 1024px){
    .header{
        padding: 0 2rem;
    }

    .menuClose{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 80;
        background: rgba(0, 0, 0, 40%);
    }

    .hamburgerMenu{
        display: block;
    }

    .menuList{
        display: flex;
    }
    
    .nav, .rightSide .userAccount .signupBtn{
        display: none;
    }

    .iosMenu{
        display: none;

        a{
            display: none;
    
            .iosIcon{
                display: none;
            }
        }
    }
}
    
@media screen and (min-width: 641px) and (max-width: 780px){
    .header{
        padding: 0 2rem;
    }

    .menuClose{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 80;
        background: rgba(0, 0, 0, 40%);
    }
    
    .hamburgerMenu{
        display: block;
    }

    .menuList{
        display: flex;
    }
    
    .nav, .rightSide .userAccount .signupBtn{
        display: none;
    }

    .iosMenu{
        display: none;

        a{
            display: none;
    
            .iosIcon{
                display: none;
            }
        }
    }
}
    
@media screen and (min-width: 481px) and (max-width: 640px){
    .header{
        padding: 0 2rem;
    }

    .menuClose{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 80;
        background: rgba(0, 0, 0, 40%);
    }
    
    .hamburgerMenu{
        display: block;
    }

    .menuList{
        display: flex;
    }
    
    .nav, .rightSide .userAccount .signupBtn{
        display: none;
    }

    .iosMenu{
        display: none;

        a{
            display: none;
    
            .iosIcon{
                display: none;
            }
        }
    }
}
    
@media screen and (min-width: 120px) and (max-width: 480px){
    .header{
        padding: 0 20px;
    }

    .menuClose{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 80;
        background: rgba(0, 0, 0, 40%);
    }
    
    .hamburgerMenu{
        display: block;
    }

    .menuList{
        display: flex;
    }

    .rightSide .userAccount {
        gap: 0;
    }
    
    .nav, .rightSide .userAccount .signupBtn, .rightSide .userAccount .loginBtn, .rightSide .userAccount .profileBtn, .rightSide .userAccount .profileImage{
        display: none;
    }

    .iosMenu{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 3.5rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        background: var(--color9);
        backdrop-filter: saturate(180%) blur(6px);
        z-index: 120;
        border-top: 1px solid var(--color7);
    
        a{
            display: flex;
            color: var(--color2);
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            font-size: 10px;
            font-weight: 500;
            padding: 6px 0 2px;
    
            .iosIcon{
                display: block;
                font-size: 26px;
            }

            .iosImage{
                border-radius: 50%;
                border: 2px solid var(--color2);
            }
        }
    }
}